# Node
node_modules
dist
*.log
# Python
.venv
__pycache__/
# Build artifacts
*.tsbuildinfo
# VSCode
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
# Env
.env
vscode-extension/*.vsix
server.log
