# Node
node_modules
dist
*.log
# Python
.venv
__pycache__/
# Build artifacts
*.tsbuildinfo
*.tgz
*.vsix
*.backup
*.egg-info/
* copy.*
# VSCode
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
# Env
.env
server.log
.coding-ai/
*.pid
